<!--
  Name: Faiyaz Muhammad
  StudentID: 301227442
  WebApp name: comp229-midterm-301227442
-->
<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">Faiyaz Muhammad|301227442 &copy; Copyright 2022</h5>
    </div>
</nav>