<link rel="stylesheet" href="./content/home.css">
<div class="container">
    <h1 style="text-align: center;"><%= title %></h1>
    <h2 style="text-align: center;">This is a website for my favourite books. </h2>
</div>
